/* ======================= common ===================== */
button {
  transition: all 0.3s ease-in-out;
}
:hover {
  transition: all 0.3s ease-in-out;
}
/* ======================= App ===================== */
.App {
  /* margin: 1rem; */
  /* padding: 1rem 5rem; */
  /* background-color: #f8f8f8; */
}
/* ====================== Routes ================ */

.routesNav {
  background-color: white;
  padding: 0.7rem 5rem;
  /* display: block; */
}
.routesContent {
  background-color: #f8f8f8;
  padding: 1rem 5rem;
}
/* ====================== Navbar ================ */
.navbarMainDiv {
  /* background-color: white; */
}
.menu a:hover {
  color: red;
}
.logo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.menu img {
  width: 3rem;
  height: 3rem;
}
.menu img:hover {
  background-color: tomato;
  border-radius: 50%;
  padding: 0.5rem;
  /* border: 0.1rem solid tomato; */
  /* width: 2.8rem;
  height: 2.8rem; */
}
nav li a,
img {
  transition: all 0.3s ease-in-out;
}
/* ====================== Home ===================== */
.HomeMainDiv {
  /* background-color: red; */
  background-color: #f8f8f8;
}

/* =============== Hero ================== */
.heroMainDiv {
  padding: 1rem;
}
.heroRightMainDiv img {
  border-radius: 50%;
  width: 92%;
  /* height: 80%; */
}

/* ================ Pizza Container ================= */
.size {
  background: lightgray;
}

.add-to-cart {
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: all 0.3s ease-in-out;
}
.add-to-carts :hover {
  background-color: #fe5f1e;
  border: 2px solid white;
  color: white;
}
.add-to-cart span:hover {
  /* background-color: #fe5f1e; */
  border: 0px transparent;
}

.item-gap-y {
  margin-bottom: 4rem;
  /* margin: 10rem; */
}
.showcase img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* border: 1rem solid tomato; */
  cursor: pointer;
}

/* ========================= Cart ================= */

.btn-primary {
  background-color: #fe5f1e;
}

.empty-cart a:hover {
  background-color: #b23301;
}
.btn-primaryDiv button:hover {
  background-color: #b23301;
}
.empty-cart img {
  /* max-width: 80vw; */
}
.orderSummary img {
  width: 3rem;
  height: 3rem;
}

.pizza-list img {
  max-width: 10rem;
  border-radius: 50%;
}
.nonEmptyCart {
  margin-left: 20%;
  margin-right: 20%;
}
.amount {
  color: #fe5f1e;
}
